@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
  font-family: 'Comfortaa', cursive;
  color: #595a5a;
  padding: 15px 15px 15px 15px;  
}

.wrapper{
  max-width: 1000px;
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgb(214, 214, 214);
}

.navigation{
  display: flex;
  justify-content: flex-end;
}

.navigation nav ul li{
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  margin: 1px 8px 1px 18px;
}

.navigation nav ul li a{
color: #595a5a;
}

.about-myself__row{
  display: flex;
  flex-direction: row;
}

.about-myself_relative{
  position: relative;
}

.about-myself__photo{
  max-width: 400px;
}

.about-myself__photo img{
  width: 100%;
}


.about-myself__info{
  padding: 30px 80px 0px 40px;
  max-width: 600px;
  box-sizing: border-box;
}

.about-myself__info .h2{
  margin-bottom: 20px;
  display: flex;
}

h2{
  color: #292d2d;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  padding-right: 10px;
}

.h2_hr{
flex: 1 1 auto;
}

.h2_hr__hr{
  border-bottom: 2px solid black;
  height: 50%;
}


.about-myself__info p{
  text-align:justify;
  font-size: 16px;
}

.about-myself__row_yellow{
  background-color: rgba(244, 214, 68, 0.9);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about-myself__self-data{
  flex: 1 1 auto;
  padding: 36px 0px 0px 110px;
  color: #292d2d;
}

h1{
  font-size: 43px;
  font-weight: 700;
}

.about-myself__self-data p{
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
}

.contacts{
  margin-right: 80px;
  background:#fcfcfc;
  padding: 0px 70px 0px 50px;
}

.bold{
  font-weight: 700;
  color: black;
}

.contacts ul li{
  margin-bottom: 5px;
  position: relative;
}

.contacts ul li:nth-child(1)::before{
  content: '';
  background-image: url(../assets/icon/phone.png);
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -35px;
}

.contacts ul li:nth-child(2)::before{
  content: '';
  background-image: url(../assets/icon/email.png);
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -35px;
}

.contacts ul li:nth-child(3)::before{
  content: '';
  background-image: url(../assets/icon/VK-icon.png);
  background-size: contain;
  display: inline-block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -35px;
}

.contacts ul li:nth-child(4)::before{
  content: '';
  background-image: url(../assets/icon/DS.png);
  background-size: contain;
  display: inline-block;
  width: 27px;
  height: 27px;
  position: absolute;
  left: -35px;
}

